</head>
<body>
  <nav>
    <div class="nav-divider"></div>
    <a 
      href="/meals/new" class=<%= title === 'Add Meal' ? 'active' : '' %>
    >
      ADD MEAL
    </a>
    <div class="nav-divider"></div>
    <a 
      href="/flights/new" class=<%= title === 'Add Flight' ? 'active' : '' %>
    >
      ADD FLIGHT
    </a>
    <div class="nav-divider"></div>
    <a 
      href="/flights" class=<%= title === 'All Flights' ? 'active' : '' %>
    >
      ALL FLIGHTS
    </a>
  </nav>