form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 352px));
  font-size: 20px;
}

form * {
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
}

form button {
  grid-column: span 2;
  width: 160px;
  margin-left: auto;
  padding: 5px 10px;
  border: 2px solid rgb(66, 75, 84);
  background-color: #e8c276;
  border-radius: 10px;
  font-size: 20px;
  color: rgb(24, 24, 24);
}

form button:hover {
  color: #e8c276;
  background-color: rgb(66, 75, 84);
  cursor: pointer;
}